{{ define "main" }}

{{ partial "navbar.html" . }}
{{ partial "navbar-clone.html" . }}


	{{ $list := ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
	{{ if gt (len $list) 0 }}
		<div class="archive_categories" style="border-bottom: 1px solid lightgray; padding-bottom: 15px; margin-bottom: 30px;">
			{{ range $list }}
				<p><a href="{{ .Permalink }}">{{ .Title }}</a></p>
			{{ end }}
		</div>
	{{ end }}
	
	{{ $list := (where .Site.Pages "Type" "post") }}
	<div class="h-feed">
		{{ range $list }}
	
			<p class="h-entry">
<section class="section is-medium">
  <div class="container">
    <div class="columns">
      <div class="column is-centered-tablet-portrait">
				{{ if .Title }}
        <h1 class="title section-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
        <h5 class="subtitle is-5 is-muted"></h5>
        <div class="divider"></div>
      </div>
    </div>

    <div class="content">
      <p>{{ .Content }}</p>
    </div>
  </div>
</section>
				{{ else }}
                 	<h1 class="title section-title"><a href="{{ .Permalink }}" class="u-url"><time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">{{ .Date.Format "2006-01-02" }}</time></a></h1>
        <h5 class="subtitle is-5 is-muted"></h5>
        <div class="divider"></div>
      </div>
    </div>
<!-- 
				    <span class="p-summary">{{ .Summary | truncate 100 }}</span>
 -->
    <div class="content">
      <p>{{ .Content }}</p>
    </div>
  </div>
</section>
                  {{ end }}
			</p>
			
		{{ end }}
	</div>

  {{ partial "footer.html" . }}

{{ end }}

